
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta ng-model="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"&gt;></script>
        <script>
            var app = angular.module('mod', []);
            app.controller('ctrl',function($scope, $http){
                
                $scope.postD=()=>{
                   
                    var data ={
                        
                        Fname : $scope.Fname,
                        Lname : $scope.Lname,
                        Addr :$scope.Addr,
                        Cno : $scope.Cno,
                        Eid : $scope.Eid,
                        Tno : $scope.Tno
                       
                    }
                            
                    $http({
                        url: '/',
                        method: "POST",
                        data: JSON.stringify(data),
                        header: 'Content-Type: application/json'
                    })
                    .then(function (res) {  
                        console.log("Res",res.data);
                        $scope.logData = res.data; 
                        window.location.assign("http://127.0.0.1:5500/index.html#"); 
                        
                    },(function (err) {  
                        console.log("Err",err)
                        alert(err);  
                    }))
                }
                
            })
        </script>
       
    </head>
    <body ng-app="mod" ng-controller="ctrl" >
       
        <center> 
            <h2> <b><i> <u>THE GOLDEN LEAF</u> </i></b></h2> 
            <h2> <b> Enjoy life sip by sip, not gulp by gulp </b></h2> 
            <p>Welcome To Our Cafe...</p>
           <form name="regForm" ng-init = "op=false;">
            <fieldset style='width:400px'>
                <legend>LOGIN FORM</legend> 
            
            First name: <input type="text" ng-model="Fname" name = "Fname" placeholder="Enter your First Name" required/><br> <br> 
            Last name:  <input type="text" ng-model="Lname" name = "Lname" placeholder="Enter your Last Name" required/><br><br>
            Address:    <input type="text" ng-model="Addr" name = "Addr" placeholder="Enter your Address" required/><br><br>
            Contact No: <input type="number" ng-model="Cno" name = "Cno" placeholder="Enter your Contact Number" required /><br><br>
            Email Id:   <input type="email" ng-model="Eid" name = "Eid" placeholder="Enter your Email ID" required/><br><br>
            Table No:   <input type="number" ng-model="Tno" name = "Tno" placeholder="Enter your Table Number" required /><br><br>
            <input type="submit" value="REGISTER" ng-click="postD(); op=true" >
            </fieldset>
           </form>
        
        </center> 
       <!-- 
        <br>
        <table class="tab" border=1 cellspacing=0 cellpadding=10 ng-show="op">
            <tr><th> First Name </th><th>Last Name</th><th>Address</th><th>Contact No </th><th>Email Id</th><th>Table No</th></tr>
            <tr ng-repeat="x in logData"><td>{{x.Fname}}</td><td>{{x.Lname}}</td><td>{{x.Addr}}</td><td>{{x.Cno}}</td><td>{{x.Eid}}</td><td>{{x.Tno}}</td></tr>
        </table> -->
    </body>
</html>
